body {
    background-color: white;
}

#viewport{
    background-color: yellowgreen;
    position: absolute;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#bottom-bar {
    background-color: #efefef;
    position: relative;
    top: 355px;
}

li {
    display: inline-block;
    margin: 10px;
    padding: 1px;
}

li.right {
    float: right;
}

li a {
    font-size: 12px;
    color: black;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

li a.bottom {
    color: #444444;
}

#page-center {
    position: relative;
    margin: auto;
}
